:root {
	--bg: #bab8e1;
	--sbg: #635f63;
	--fr: #ffffff;
}
body {
	background-color: var(--bg);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}
.intro {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--sbg);
	color: var(--fr);
	border-radius: 0.2vw;
	padding: 1vw;
	font-size: 2rem;
	text-align: center;
}
button {
	background-color: #918de7;
	/* border: none; */
	font-size: 5rem;
	cursor: pointer;
	border-radius: 0.6vw;
	border: 2px solid black;
}
input {
	width: 90%;
	font-size: 2rem;
	display: grid;
	margin: 2vw;
}
textarea {
	font-size: 2rem;
	background-color: black;
	color: white;
}
.no {
	display: none;
}
.errorLog {
	position: fixed;
	right: 5%;
	top: 10%;
	background-color: var(--sbg);
	color: var(--fr);
	padding: 1vw;
	border-radius: 0.4vw;
	font-size: 2rem;
}

.container {
	position: relative;
	margin: 20px;
	font-family: "Lucida Console", Monaco, monospace;
	line-height: 120%;
	font-size: 2rem;
}
.container .list {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 25px;
	background-color: rgb(149, 149, 149);
}
.container .list ol {
	margin: 0;
	padding: 0;
	list-style-position: inside;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
.container .list ol li {
	padding-left: 2px;
}
.container .textarea {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
}
.container .textarea textarea {
	margin: 0;
	padding: 0 0 0 30px;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	border: 1px solid black;
	resize: none;
}
.napoveda {
	position: fixed;
	bottom: 1%;
}
.redLineCount {
	background-color: rgb(221, 0, 0) !important;
}
.reset {
	position: fixed;
	bottom: 30%;
}
.winModal {
	background-color: var(--sbg);
	color: white;
	position: fixed;
	z-index: 99;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 1vw;
	border-radius: 1vw;
	text-align: center;
	scale: 1.1;
}
.errorLineNum {
	color: rgb(255, 141, 141);
}
.winText {
	color: #ffffb2;
	margin: 0;
}
.credits {
	display: grid;
	column-gap: 400px;
	width: 65%;
	position: relative;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
}
td {
	border: 1px solid rgba(255, 255, 255, 0.207);
	padding: 0.2vh 1vw;
	border-radius: 0.3vw;
}
td:hover {
	border: 1px solid rgba(255, 255, 255, 0.207);
	padding: 0.2vh 1vw;
	color: #bab8e1;
}
.winImg {
	width: 15vw;
	height: auto;
	color: white;
	margin: 0;
	padding: 0;
}
th {
	color: rgb(215, 214, 214);
}
.igText{
	position: fixed;
	right: 1%;
	bottom: 1%;
}

.animate-character {
	background-image: linear-gradient(
		-225deg,
		#e4e3ff 0%,
		#6f69ec 33%,
		#f8f8e2 66%,
		#a4a1e6 100%
	);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 2.5s linear infinite;
	display: inline-block;
	font-size: 4rem;
	padding: 1vw;
	margin: 0;
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

@media only screen and (max-width: 1800px) {
	.errorLog {
		width: 30%;
	}
	.errorItem {
		margin: 5vh 0;
	}
}

@media only screen and (max-width: 1490px) {
	.errorLog {
		width: 20%;
	}
}

@media only screen and (max-width: 1300px) {
	.errorLog {
		width: 30%;
	}
	.container {
		font-size: 1.5rem;
		height: 20%;
	}
}

@media only screen and (max-width: 1150px) {
	.errorLog {
		width: 30%;
	}
	.container {
		font-size: 1rem;
	}
	.credits {
		width: 100%;
	}
}

@media only screen and (max-width: 780px) {
	.intro {
		width: 90%;
	}
	input {
		width: 95%;
	}
	.levelNum {
		margin: 0;
	}
	.errorsHeader {
		margin: 0;
	}
	.errorLog {
		position: fixed;
		left: 1%;
		top: auto;
		bottom: 15%;
		background-color: var(--sbg);
		color: var(--fr);
		padding: 1.5vw;
		border-radius: 0.4vw;
		font-size: 1rem;
		width: 95%;
	}
	.errorItem {
		margin: 2vh 0;
		font-size: 1.5rem;
		width: 100%;
	}
	.napoveda {
		display: none;
	}
	.reset {
		font-size: 2rem;
		/* right: 2%; */
		bottom: 2%;
	}
	.textarea {
		/* font-size: 2rem; */
		background-color: black;
		color: white;
	}
	.container {
		position: relative;
		margin: 0px;
		overflow-x: scroll;
	}
	.container .textarea {
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
	}
	.container .textarea textarea {
		margin: 0;
		padding: 0 0 0 30px;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		border: 1px solid black;
		resize: horizontal;
	}
	.container .list {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
		width: 10px;
		background-color: rgb(149, 149, 149);
	}
	.container .list ol li {
		padding-left: 0px;
	}
	.credits {
		font-size: 1.4rem;
	}
}
